package {{packageName}};

/**
 * Exception thrown when a requested resource is not found.
 * <p>
 * This exception is used in the Hexagonal Architecture infrastructure layer
 * to indicate that a requested entity or resource could not be located.
 * </p>
 * 
 * @author {{#project}}{{author}}{{/project}}
 * @version {{#project}}{{version}}{{/project}}
 */
public class {{classname}} extends RuntimeException {

    /**
     * Constructs a new {{classname}} with the specified detail message.
     *
     * @param message the detail message
     */
    public {{classname}}(String message) {
        super(message);
    }

    /**
     * Constructs a new {{classname}} with the specified detail message and cause.
     *
     * @param message the detail message
     * @param cause the cause
     */
    public {{classname}}(String message, Throwable cause) {
        super(message, cause);
    }
}