package {{packageName}};

{{#hasCreate}}import {{application_dto}}.{{serviceName}}.Create{{entityName}}RequestContent;{{/hasCreate}}
{{#hasCreate}}import {{application_dto}}.{{serviceName}}.Create{{entityName}}ResponseContent;{{/hasCreate}}
{{#hasGet}}import {{application_dto}}.{{serviceName}}.Get{{entityName}}ResponseContent;{{/hasGet}}
{{#hasUpdate}}import {{application_dto}}.{{serviceName}}.Update{{entityName}}RequestContent;{{/hasUpdate}}
{{#hasUpdate}}import {{application_dto}}.{{serviceName}}.Update{{entityName}}ResponseContent;{{/hasUpdate}}
{{#hasDelete}}import {{application_dto}}.{{serviceName}}.Delete{{entityName}}ResponseContent;{{/hasDelete}}
{{#hasList}}import {{application_dto}}.{{serviceName}}.List{{entityName}}sResponseContent;{{/hasList}}
{{#hasComplexOperations}}
{{#complexOperations}}
import {{application_dto}}.{{serviceName}}.{{responseType}};
{{/complexOperations}}
{{/hasComplexOperations}}

/**
 * Consolidated use case interface for all {{entityName}} operations.
 * 
 * @author {{author}}
 * @version {{version}}
 */
public interface {{entityName}}UseCase {
    
{{#hasCreate}}
    Create{{entityName}}ResponseContent create(Create{{entityName}}RequestContent request);
{{/hasCreate}}

{{#hasGet}}
    Get{{entityName}}ResponseContent get(String {{entityVarName}}Id);
{{/hasGet}}

{{#hasUpdate}}
    Update{{entityName}}ResponseContent update(String {{entityVarName}}Id, Update{{entityName}}RequestContent request);
{{/hasUpdate}}

{{#hasDelete}}
    Delete{{entityName}}ResponseContent delete(String {{entityVarName}}Id);
{{/hasDelete}}

{{#hasList}}
    List{{entityName}}sResponseContent list(Integer page, Integer size, String search, String status, String dateFrom, String dateTo);
{{/hasList}}

{{#hasComplexOperations}}
{{#complexOperations}}
    {{responseType}} {{methodName}}({{#hasPathVariables}}{{#pathVariables}}String {{name}}{{#hasMore}}, {{/hasMore}}{{/pathVariables}}{{/hasPathVariables}});
{{/complexOperations}}
{{/hasComplexOperations}}
}