spring:
  application:
    name: back-ms-movies
  profiles:
    active: local
  datasource:
    url: jdbc:postgresql://localhost:5433/back-ms-movies_db
    username: 
    password: password123
    driver-class-name: 
  jpa:
    database-platform: 
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 

logging:
  level:
    : DEBUG
    org.springframework.security: DEBUG

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    try-it-out-enabled: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always