package {{packageName}};

{{#isUseCasePort}}
{{#requestType}}{{^requestIsJavaType}}import {{application_dto}}.{{serviceName}}.{{requestType}};{{/requestIsJavaType}}{{/requestType}}
{{#returnType}}{{^responseIsJavaType}}import {{application_dto}}.{{serviceName}}.{{returnType}};{{/responseIsJavaType}}{{/returnType}}

/**
 * Use case interface for {{operationName}} operation.
 * <p>
 * This interface defines the contract for the {{operationName}} use case,
 * serving as an input port in the Clean Architecture. It encapsulates
 * the business logic interface without implementation details.
 * </p>
 * 
 * @author {{author}}
 * @version {{version}}
 */
public interface {{classname}} {
    
    {{#operationName}}
    {{#isUpdateOperation}}
    {{returnType}} execute(String {{entityVarName}}Id, {{requestType}} request);
    {{/isUpdateOperation}}
    {{^isUpdateOperation}}
    {{returnType}} execute({{requestType}} request);
    {{/isUpdateOperation}}
    {{/operationName}}
}
{{/isUseCasePort}}

{{#isDomainPort}}
import {{domain_model}}.{{entityName}};
import reactor.core.publisher.Flux;
import reactor.core.publisher.Mono;

/**
 * Domain repository port for {{entityName}} operations.
 * <p>
 * This interface defines the contract for {{entityName}} persistence operations,
 * serving as an output port in the Clean Architecture. It abstracts
 * the persistence layer from the domain logic using reactive types.
 * </p>
 * 
 * @author {{author}}
 * @version {{version}}
 */
public interface {{classname}} {
    
    Mono<{{entityName}}> save({{entityName}} {{entityVarName}});
    
    Mono<{{entityName}}> findById(String id);
    
    Flux<{{entityName}}> findAll();
    
    Flux<{{entityName}}> findBySearchTerm(String search, Integer page, Integer size);
    
    Flux<{{entityName}}> findAllPaged(Integer page, Integer size);
    
    Mono<Void> deleteById(String id);
    
    Mono<Boolean> existsById(String id);
{{#hasComplexMethods}}
    
{{#repositoryMethods}}
    Flux<{{entityName}}> {{methodName}}({{parameters}});
    
{{/repositoryMethods}}
{{/hasComplexMethods}}
}
{{/isDomainPort}}