version: '3.8'

services:
{{#database.postgresql}}
  postgres:
    image: postgres:{{database.version}}
    container_name: {{project.general.name}}-postgres
    environment:
      POSTGRES_DB: {{database.name}}
      POSTGRES_USER: {{database.user}}
      POSTGRES_PASSWORD: {{database.password}}
    ports:
      - "{{database.port}}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - {{project.general.name}}-network

  {{project.general.name}}-service:
    build: .
    container_name: {{project.general.name}}-service
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/{{database.name}}
      SPRING_DATASOURCE_USERNAME: {{database.user}}
      SPRING_DATASOURCE_PASSWORD: {{database.password}}
    ports:
      - "{{infra.http.ports.ext}}:{{infra.http.ports.int}}"
    depends_on:
      - postgres
    networks:
      - {{project.general.name}}-network
{{/database.postgresql}}{{#database.mysql}}
  mysql:
    image: mysql:{{database.version}}
    container_name: {{project.general.name}}-mysql
    environment:
      MYSQL_DATABASE: {{database.name}}
      MYSQL_USER: {{database.user}}
      MYSQL_PASSWORD: {{database.password}}
      MYSQL_ROOT_PASSWORD: {{database.password}}
    ports:
      - "{{database.port}}:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - {{project.general.name}}-network

  {{project.general.name}}-service:
    build: .
    container_name: {{project.general.name}}-service
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/{{database.name}}
      SPRING_DATASOURCE_USERNAME: {{database.user}}
      SPRING_DATASOURCE_PASSWORD: {{database.password}}
    ports:
      - "{{infra.http.ports.ext}}:{{infra.http.ports.int}}"
    depends_on:
      - mysql
    networks:
      - {{project.general.name}}-network
{{/database.mysql}}{{#database.oracle}}
  oracle:
    image: container-registry.oracle.com/database/express:{{database.version}}
    container_name: {{project.general.name}}-oracle
    environment:
      ORACLE_PWD: {{database.password}}
      ORACLE_CHARACTERSET: AL32UTF8
    ports:
      - "{{database.port}}:1521"
      - "5500:5500"
    volumes:
      - oracle_data:/opt/oracle/oradata
    networks:
      - {{project.general.name}}-network

  {{project.general.name}}-service:
    build: .
    container_name: {{project.general.name}}-service
    environment:
      SPRING_DATASOURCE_URL: jdbc:oracle:thin:@oracle:1521:XE
      SPRING_DATASOURCE_USERNAME: {{database.user}}
      SPRING_DATASOURCE_PASSWORD: {{database.password}}
    ports:
      - "{{infra.http.ports.ext}}:{{infra.http.ports.int}}"
    depends_on:
      - oracle
    networks:
      - {{project.general.name}}-network
{{/database.oracle}}{{#database.sqlserver}}
  sqlserver:
    image: mcr.microsoft.com/mssql/server:{{database.version}}
    container_name: {{project.general.name}}-sqlserver
    environment:
      SA_PASSWORD: {{database.password}}
      ACCEPT_EULA: Y
      MSSQL_DB: {{database.name}}
    ports:
      - "{{database.port}}:1433"
    volumes:
      - sqlserver_data:/var/opt/mssql
    networks:
      - {{project.general.name}}-network

  {{project.general.name}}-service:
    build: .
    container_name: {{project.general.name}}-service
    environment:
      SPRING_DATASOURCE_URL: jdbc:sqlserver://sqlserver:1433;databaseName={{database.name}}
      SPRING_DATASOURCE_USERNAME: {{database.user}}
      SPRING_DATASOURCE_PASSWORD: {{database.password}}
    ports:
      - "{{infra.http.ports.ext}}:{{infra.http.ports.int}}"
    depends_on:
      - sqlserver
    networks:
      - {{project.general.name}}-network
{{/database.sqlserver}}{{#database.h2}}
  {{project.general.name}}-service:
    build: .
    container_name: {{project.general.name}}-service
    ports:
      - "{{infra.http.ports.ext}}:{{infra.http.ports.int}}"
    networks:
      - {{project.general.name}}-network
{{/database.h2}}

{{^database.h2}}
volumes:
{{#database.postgresql}}  postgres_data:{{/database.postgresql}}
{{#database.mysql}}  mysql_data:{{/database.mysql}}
{{#database.oracle}}  oracle_data:{{/database.oracle}}
{{#database.sqlserver}}  sqlserver_data:{{/database.sqlserver}}
{{/database.h2}}

networks:
  {{project.general.name}}-network:
    driver: bridge