{
    "smithy": "2.0",
    "shapes": {
        "com.example.movieservice#ConflictError": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#error": "client",
                "smithy.api#httpError": 409
            }
        },
        "com.example.movieservice#ConflictErrorResponseContent": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.example.movieservice#CreateMovie": {
            "type": "operation",
            "input": {
                "target": "com.example.movieservice#CreateMovieRequest"
            },
            "output": {
                "target": "com.example.movieservice#CreateMovieResponse"
            },
            "errors": [
                {
                    "target": "com.example.movieservice#ConflictError"
                },
                {
                    "target": "com.example.movieservice#ValidationError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Creates a new movie in the rental catalog with complete information including title, director, genre, release year, duration, available copies, and rental price. Validates movie information and ensures no duplicate titles exist.",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/movies"
                }
            }
        },
        "com.example.movieservice#CreateMovieRequest": {
            "type": "structure",
            "members": {
                "body": {
                    "target": "com.example.movieservice#CreateMovieRequestContent",
                    "traits": {
                        "smithy.api#httpPayload": {}
                    }
                }
            }
        },
        "com.example.movieservice#CreateMovieRequestContent": {
            "type": "structure",
            "members": {
                "title": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "director": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "genre": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "releaseYear": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "duration": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "smithy.api#String"
                },
                "availableCopies": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "rentalPrice": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.example.movieservice#CreateMovieResponse": {
            "type": "structure",
            "members": {
                "body": {
                    "target": "com.example.movieservice#CreateMovieResponseContent",
                    "traits": {
                        "smithy.api#httpPayload": {}
                    }
                }
            }
        },
        "com.example.movieservice#CreateMovieResponseContent": {
            "type": "structure",
            "members": {
                "movieId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "title": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "director": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "genre": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "releaseYear": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "duration": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "smithy.api#String"
                },
                "availableCopies": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "rentalPrice": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "createdAt": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.example.movieservice#CreateRental": {
            "type": "operation",
            "input": {
                "target": "com.example.movieservice#CreateRentalRequest"
            },
            "output": {
                "target": "com.example.movieservice#CreateRentalResponse"
            },
            "errors": [
                {
                    "target": "com.example.movieservice#ConflictError"
                },
                {
                    "target": "com.example.movieservice#NotFoundError"
                },
                {
                    "target": "com.example.movieservice#ValidationError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Creates a new movie rental transaction. Processes a new rental request by checking movie availability, calculating rental price based on duration, and creating a rental record with due date calculation. Updates movie inventory automatically.",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/rentals"
                }
            }
        },
        "com.example.movieservice#CreateRentalRequest": {
            "type": "structure",
            "members": {
                "body": {
                    "target": "com.example.movieservice#CreateRentalRequestContent",
                    "traits": {
                        "smithy.api#httpPayload": {}
                    }
                }
            }
        },
        "com.example.movieservice#CreateRentalRequestContent": {
            "type": "structure",
            "members": {
                "movieId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "userId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "rentalDays": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.example.movieservice#CreateRentalResponse": {
            "type": "structure",
            "members": {
                "body": {
                    "target": "com.example.movieservice#CreateRentalResponseContent",
                    "traits": {
                        "smithy.api#httpPayload": {}
                    }
                }
            }
        },
        "com.example.movieservice#CreateRentalResponseContent": {
            "type": "structure",
            "members": {
                "rentalId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "movieId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "userId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "rentalDate": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "dueDate": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "totalPrice": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "createdAt": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.example.movieservice#DeleteMovie": {
            "type": "operation",
            "input": {
                "target": "com.example.movieservice#DeleteMovieRequest"
            },
            "output": {
                "target": "com.example.movieservice#DeleteMovieResponse"
            },
            "errors": [
                {
                    "target": "com.example.movieservice#NotFoundError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Removes a movie from the catalog. Permanently removes a movie from the rental catalog. This operation should only be performed if no active rentals exist for the movie.",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/movies/{movieId}"
                }
            }
        },
        "com.example.movieservice#DeleteMovieRequest": {
            "type": "structure",
            "members": {
                "movieId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.example.movieservice#DeleteMovieResponse": {
            "type": "structure",
            "members": {
                "body": {
                    "target": "com.example.movieservice#DeleteMovieResponseContent",
                    "traits": {
                        "smithy.api#httpPayload": {}
                    }
                }
            }
        },
        "com.example.movieservice#DeleteMovieResponseContent": {
            "type": "structure",
            "members": {
                "deleted": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.example.movieservice#GetMovie": {
            "type": "operation",
            "input": {
                "target": "com.example.movieservice#GetMovieRequest"
            },
            "output": {
                "target": "com.example.movieservice#GetMovieResponse"
            },
            "errors": [
                {
                    "target": "com.example.movieservice#NotFoundError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Retrieves a movie by its unique identifier. Returns complete movie information including availability status, rental price, and current inventory levels.",
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/movies/{movieId}"
                }
            }
        },
        "com.example.movieservice#GetMovieRequest": {
            "type": "structure",
            "members": {
                "movieId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.example.movieservice#GetMovieResponse": {
            "type": "structure",
            "members": {
                "body": {
                    "target": "com.example.movieservice#GetMovieResponseContent",
                    "traits": {
                        "smithy.api#httpPayload": {}
                    }
                }
            }
        },
        "com.example.movieservice#GetMovieResponseContent": {
            "type": "structure",
            "members": {
                "movieId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "title": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "director": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "genre": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "releaseYear": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "duration": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "smithy.api#String"
                },
                "availableCopies": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "rentalPrice": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "createdAt": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "updatedAt": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.example.movieservice#GetRental": {
            "type": "operation",
            "input": {
                "target": "com.example.movieservice#GetRentalRequest"
            },
            "output": {
                "target": "com.example.movieservice#GetRentalResponse"
            },
            "errors": [
                {
                    "target": "com.example.movieservice#NotFoundError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Retrieves a rental transaction by its unique identifier. Returns complete rental information including dates, pricing, late fees, and current status.",
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/rentals/{rentalId}"
                }
            }
        },
        "com.example.movieservice#GetRentalRequest": {
            "type": "structure",
            "members": {
                "rentalId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.example.movieservice#GetRentalResponse": {
            "type": "structure",
            "members": {
                "body": {
                    "target": "com.example.movieservice#GetRentalResponseContent",
                    "traits": {
                        "smithy.api#httpPayload": {}
                    }
                }
            }
        },
        "com.example.movieservice#GetRentalResponseContent": {
            "type": "structure",
            "members": {
                "rentalId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "movieId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "userId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "rentalDate": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "dueDate": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "returnDate": {
                    "target": "smithy.api#String"
                },
                "totalPrice": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "lateFee": {
                    "target": "smithy.api#Double"
                },
                "createdAt": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "updatedAt": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.example.movieservice#ListMovies": {
            "type": "operation",
            "input": {
                "target": "com.example.movieservice#ListMoviesRequest"
            },
            "output": {
                "target": "com.example.movieservice#ListMoviesResponse"
            },
            "traits": {
                "smithy.api#documentation": "Lists movies with filtering and pagination. Returns a paginated list of movies with optional filtering by genre and director. Supports pagination for efficient catalog browsing.",
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/movies"
                }
            }
        },
        "com.example.movieservice#ListMoviesRequest": {
            "type": "structure",
            "members": {
                "page": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#httpQuery": "page"
                    }
                },
                "size": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#httpQuery": "size"
                    }
                },
                "genre": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpQuery": "genre"
                    }
                },
                "director": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpQuery": "director"
                    }
                }
            }
        },
        "com.example.movieservice#ListMoviesResponse": {
            "type": "structure",
            "members": {
                "body": {
                    "target": "com.example.movieservice#ListMoviesResponseContent",
                    "traits": {
                        "smithy.api#httpPayload": {}
                    }
                }
            }
        },
        "com.example.movieservice#ListMoviesResponseContent": {
            "type": "structure",
            "members": {
                "movies": {
                    "target": "com.example.movieservice#MovieList",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "page": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "size": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "total": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "totalPages": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.example.movieservice#ListRentals": {
            "type": "operation",
            "input": {
                "target": "com.example.movieservice#ListRentalsRequest"
            },
            "output": {
                "target": "com.example.movieservice#ListRentalsResponse"
            },
            "traits": {
                "smithy.api#documentation": "Lists rental transactions with filtering and pagination. Returns a paginated list of rentals with optional filtering by user ID and rental status. Useful for rental history and management.",
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/rentals"
                }
            }
        },
        "com.example.movieservice#ListRentalsRequest": {
            "type": "structure",
            "members": {
                "page": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#httpQuery": "page"
                    }
                },
                "size": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#httpQuery": "size"
                    }
                },
                "userId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpQuery": "userId"
                    }
                },
                "status": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpQuery": "status"
                    }
                }
            }
        },
        "com.example.movieservice#ListRentalsResponse": {
            "type": "structure",
            "members": {
                "body": {
                    "target": "com.example.movieservice#ListRentalsResponseContent",
                    "traits": {
                        "smithy.api#httpPayload": {}
                    }
                }
            }
        },
        "com.example.movieservice#ListRentalsResponseContent": {
            "type": "structure",
            "members": {
                "rentals": {
                    "target": "com.example.movieservice#RentalList",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "page": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "size": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "total": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "totalPages": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.example.movieservice#MovieList": {
            "type": "list",
            "member": {
                "target": "com.example.movieservice#MovieResponse"
            }
        },
        "com.example.movieservice#MovieResponse": {
            "type": "structure",
            "members": {
                "movieId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "title": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "director": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "genre": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "releaseYear": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "duration": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "smithy.api#String"
                },
                "availableCopies": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "rentalPrice": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "createdAt": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "updatedAt": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.example.movieservice#MovieService": {
            "type": "service",
            "version": "2023-01-01",
            "operations": [
                {
                    "target": "com.example.movieservice#CreateMovie"
                },
                {
                    "target": "com.example.movieservice#CreateRental"
                },
                {
                    "target": "com.example.movieservice#DeleteMovie"
                },
                {
                    "target": "com.example.movieservice#GetMovie"
                },
                {
                    "target": "com.example.movieservice#GetRental"
                },
                {
                    "target": "com.example.movieservice#ListMovies"
                },
                {
                    "target": "com.example.movieservice#ListRentals"
                },
                {
                    "target": "com.example.movieservice#UpdateMovie"
                },
                {
                    "target": "com.example.movieservice#UpdateRental"
                }
            ],
            "traits": {
                "aws.protocols#restJson1": {},
                "smithy.api#cors": {
                    "origin": "*"
                },
                "smithy.api#documentation": "A comprehensive service for managing movie rentals with catalog and transaction processing. This service provides movie catalog management (CRUD operations), rental transaction processing, inventory tracking and availability management, late fee calculation and payment processing, and user rental history and status tracking.",
                "smithy.api#title": "Movie Service API"
            }
        },
        "com.example.movieservice#NotFoundError": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#error": "client",
                "smithy.api#httpError": 404
            }
        },
        "com.example.movieservice#NotFoundErrorResponseContent": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.example.movieservice#RentalList": {
            "type": "list",
            "member": {
                "target": "com.example.movieservice#RentalResponse"
            }
        },
        "com.example.movieservice#RentalResponse": {
            "type": "structure",
            "members": {
                "rentalId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "movieId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "userId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "rentalDate": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "dueDate": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "returnDate": {
                    "target": "smithy.api#String"
                },
                "totalPrice": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "lateFee": {
                    "target": "smithy.api#Double"
                },
                "createdAt": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "updatedAt": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.example.movieservice#UpdateMovie": {
            "type": "operation",
            "input": {
                "target": "com.example.movieservice#UpdateMovieRequest"
            },
            "output": {
                "target": "com.example.movieservice#UpdateMovieResponse"
            },
            "errors": [
                {
                    "target": "com.example.movieservice#NotFoundError"
                },
                {
                    "target": "com.example.movieservice#ValidationError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Updates an existing movie's information. Allows partial updates to movie catalog information including title, director, genre, availability, and pricing. All fields are optional.",
                "smithy.api#http": {
                    "method": "PUT",
                    "uri": "/movies/{movieId}"
                }
            }
        },
        "com.example.movieservice#UpdateMovieRequest": {
            "type": "structure",
            "members": {
                "movieId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "body": {
                    "target": "com.example.movieservice#UpdateMovieRequestContent",
                    "traits": {
                        "smithy.api#httpPayload": {}
                    }
                }
            }
        },
        "com.example.movieservice#UpdateMovieRequestContent": {
            "type": "structure",
            "members": {
                "title": {
                    "target": "smithy.api#String"
                },
                "director": {
                    "target": "smithy.api#String"
                },
                "genre": {
                    "target": "smithy.api#String"
                },
                "releaseYear": {
                    "target": "smithy.api#Integer"
                },
                "duration": {
                    "target": "smithy.api#Integer"
                },
                "description": {
                    "target": "smithy.api#String"
                },
                "availableCopies": {
                    "target": "smithy.api#Integer"
                },
                "rentalPrice": {
                    "target": "smithy.api#Double"
                }
            }
        },
        "com.example.movieservice#UpdateMovieResponse": {
            "type": "structure",
            "members": {
                "body": {
                    "target": "com.example.movieservice#UpdateMovieResponseContent",
                    "traits": {
                        "smithy.api#httpPayload": {}
                    }
                }
            }
        },
        "com.example.movieservice#UpdateMovieResponseContent": {
            "type": "structure",
            "members": {
                "movieId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "title": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "director": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "genre": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "releaseYear": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "duration": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "smithy.api#String"
                },
                "availableCopies": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "rentalPrice": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "updatedAt": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.example.movieservice#UpdateRental": {
            "type": "operation",
            "input": {
                "target": "com.example.movieservice#UpdateRentalRequest"
            },
            "output": {
                "target": "com.example.movieservice#UpdateRentalResponse"
            },
            "errors": [
                {
                    "target": "com.example.movieservice#NotFoundError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Updates a rental transaction (typically for returns). Updates rental information including return date, late fees, and status. Automatically calculates late fees based on return date and updates movie inventory when rental is returned.",
                "smithy.api#http": {
                    "method": "PUT",
                    "uri": "/rentals/{rentalId}"
                }
            }
        },
        "com.example.movieservice#UpdateRentalRequest": {
            "type": "structure",
            "members": {
                "rentalId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "body": {
                    "target": "com.example.movieservice#UpdateRentalRequestContent",
                    "traits": {
                        "smithy.api#httpPayload": {}
                    }
                }
            }
        },
        "com.example.movieservice#UpdateRentalRequestContent": {
            "type": "structure",
            "members": {
                "returnDate": {
                    "target": "smithy.api#String"
                },
                "lateFee": {
                    "target": "smithy.api#Double"
                },
                "status": {
                    "target": "smithy.api#String"
                }
            }
        },
        "com.example.movieservice#UpdateRentalResponse": {
            "type": "structure",
            "members": {
                "body": {
                    "target": "com.example.movieservice#UpdateRentalResponseContent",
                    "traits": {
                        "smithy.api#httpPayload": {}
                    }
                }
            }
        },
        "com.example.movieservice#UpdateRentalResponseContent": {
            "type": "structure",
            "members": {
                "rentalId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "returnDate": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "lateFee": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "totalAmount": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "createdAt": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "updatedAt": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.example.movieservice#ValidationError": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "field": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "com.example.movieservice#ValidationErrorResponseContent": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "field": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.example.userservice#CityInfo": {
            "type": "structure",
            "members": {
                "cityId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "regionId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "createdAt": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "updatedAt": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.example.userservice#CityList": {
            "type": "list",
            "member": {
                "target": "com.example.userservice#CityResponse"
            }
        },
        "com.example.userservice#CityResponse": {
            "type": "structure",
            "members": {
                "cityId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "regionId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "createdAt": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "updatedAt": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.example.userservice#ConflictError": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#error": "client",
                "smithy.api#httpError": 409
            }
        },
        "com.example.userservice#ConflictErrorResponseContent": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.example.userservice#CountryInfo": {
            "type": "structure",
            "members": {
                "countryId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "code": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "createdAt": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "updatedAt": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.example.userservice#CountryList": {
            "type": "list",
            "member": {
                "target": "com.example.userservice#CountryResponse"
            }
        },
        "com.example.userservice#CountryResponse": {
            "type": "structure",
            "members": {
                "countryId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "code": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "createdAt": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "updatedAt": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.example.userservice#CreateLocation": {
            "type": "operation",
            "input": {
                "target": "com.example.userservice#CreateLocationRequest"
            },
            "output": {
                "target": "com.example.userservice#CreateLocationResponse"
            },
            "errors": [
                {
                    "target": "com.example.userservice#ConflictError"
                },
                {
                    "target": "com.example.userservice#ValidationError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Creates a new location for a user. Registers a new location with complete address information including geographic hierarchy (country, region, city, neighborhood) and optional geospatial coordinates. Supports multiple location types per user.",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/locations"
                }
            }
        },
        "com.example.userservice#CreateLocationRequest": {
            "type": "structure",
            "members": {
                "body": {
                    "target": "com.example.userservice#CreateLocationRequestContent",
                    "traits": {
                        "smithy.api#httpPayload": {}
                    }
                }
            }
        },
        "com.example.userservice#CreateLocationRequestContent": {
            "type": "structure",
            "members": {
                "userId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "countryId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "regionId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "cityId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "neighborhoodId": {
                    "target": "smithy.api#String"
                },
                "address": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "postalCode": {
                    "target": "smithy.api#String"
                },
                "latitude": {
                    "target": "smithy.api#Double"
                },
                "longitude": {
                    "target": "smithy.api#Double"
                },
                "locationType": {
                    "target": "com.example.userservice#LocationType",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.example.userservice#CreateLocationResponse": {
            "type": "structure",
            "members": {
                "body": {
                    "target": "com.example.userservice#CreateLocationResponseContent",
                    "traits": {
                        "smithy.api#httpPayload": {}
                    }
                }
            }
        },
        "com.example.userservice#CreateLocationResponseContent": {
            "type": "structure",
            "members": {
                "locationId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "userId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "countryId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "regionId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "cityId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "neighborhoodId": {
                    "target": "smithy.api#String"
                },
                "address": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "postalCode": {
                    "target": "smithy.api#String"
                },
                "latitude": {
                    "target": "smithy.api#Double"
                },
                "longitude": {
                    "target": "smithy.api#Double"
                },
                "locationType": {
                    "target": "com.example.userservice#LocationType",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "createdAt": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.example.userservice#CreateUser": {
            "type": "operation",
            "input": {
                "target": "com.example.userservice#CreateUserRequest"
            },
            "output": {
                "target": "com.example.userservice#UserResponse"
            },
            "errors": [
                {
                    "target": "com.example.userservice#ConflictError"
                },
                {
                    "target": "com.example.userservice#ValidationError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Creates a new user account. Registers a new user with the provided information. The username and email must be unique across the system. Password requirements include minimum length of 6 characters.",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/users",
                    "code": 201
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.example.userservice#CreateUserRequest": {
            "type": "structure",
            "members": {
                "username": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Unique username for the user account. Must be between 3-50 characters and unique across the system.",
                        "smithy.api#length": {
                            "min": 3,
                            "max": 50
                        },
                        "smithy.api#required": {}
                    }
                },
                "email": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "User's email address. Must be a valid email format and unique across the system.",
                        "smithy.api#pattern": "^[^@]+@[^@]+\\.[^@]+$",
                        "smithy.api#required": {}
                    }
                },
                "password": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "User's password. Must be at least 6 characters long for security purposes.",
                        "smithy.api#length": {
                            "min": 6,
                            "max": 100
                        },
                        "smithy.api#required": {}
                    }
                },
                "firstName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "User's first name. Optional field for personal identification.",
                        "smithy.api#length": {
                            "min": 1,
                            "max": 100
                        }
                    }
                },
                "lastName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "User's last name. Optional field for personal identification.",
                        "smithy.api#length": {
                            "min": 1,
                            "max": 100
                        }
                    }
                }
            }
        },
        "com.example.userservice#DeleteLocation": {
            "type": "operation",
            "input": {
                "target": "com.example.userservice#DeleteLocationRequest"
            },
            "output": {
                "target": "com.example.userservice#DeleteLocationResponse"
            },
            "errors": [
                {
                    "target": "com.example.userservice#NotFoundError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Deletes a location. Permanently removes a location from the system. This operation cannot be undone. Consider using status updates for soft deletion instead.",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/locations/{locationId}"
                }
            }
        },
        "com.example.userservice#DeleteLocationRequest": {
            "type": "structure",
            "members": {
                "locationId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.example.userservice#DeleteLocationResponse": {
            "type": "structure",
            "members": {
                "body": {
                    "target": "com.example.userservice#DeleteLocationResponseContent",
                    "traits": {
                        "smithy.api#httpPayload": {}
                    }
                }
            }
        },
        "com.example.userservice#DeleteLocationResponseContent": {
            "type": "structure",
            "members": {
                "deleted": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.example.userservice#DeleteUser": {
            "type": "operation",
            "input": {
                "target": "com.example.userservice#DeleteUserRequest"
            },
            "output": {
                "target": "com.example.userservice#DeleteUserResponse"
            },
            "errors": [
                {
                    "target": "com.example.userservice#NotFoundError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Deletes a user account. Permanently removes a user account from the system. This operation cannot be undone. Consider using status updates for soft deletion instead.",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/users/{userId}"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.example.userservice#DeleteUserRequest": {
            "type": "structure",
            "members": {
                "userId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.example.userservice#DeleteUserResponse": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "deleted": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.example.userservice#GetCitiesByRegion": {
            "type": "operation",
            "input": {
                "target": "com.example.userservice#GetCitiesByRegionRequest"
            },
            "output": {
                "target": "com.example.userservice#GetCitiesByRegionResponse"
            },
            "errors": [
                {
                    "target": "com.example.userservice#NotFoundError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Retrieves cities within a specific region. Returns all cities that belong to the specified region. Used for cascading geographic selection in location forms.",
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/regions/{regionId}/cities"
                }
            }
        },
        "com.example.userservice#GetCitiesByRegionRequest": {
            "type": "structure",
            "members": {
                "regionId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.example.userservice#GetCitiesByRegionResponse": {
            "type": "structure",
            "members": {
                "body": {
                    "target": "com.example.userservice#GetCitiesByRegionResponseContent",
                    "traits": {
                        "smithy.api#httpPayload": {}
                    }
                }
            }
        },
        "com.example.userservice#GetCitiesByRegionResponseContent": {
            "type": "structure",
            "members": {
                "cities": {
                    "target": "com.example.userservice#CityList",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.example.userservice#GetCountries": {
            "type": "operation",
            "input": {
                "target": "com.example.userservice#GetCountriesRequest"
            },
            "output": {
                "target": "com.example.userservice#GetCountriesResponse"
            },
            "traits": {
                "smithy.api#documentation": "Retrieves list of available countries. Returns all countries in the system with optional search functionality. Used for populating country selection in location forms.",
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/countries"
                }
            }
        },
        "com.example.userservice#GetCountriesRequest": {
            "type": "structure",
            "members": {
                "search": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpQuery": "search"
                    }
                }
            }
        },
        "com.example.userservice#GetCountriesResponse": {
            "type": "structure",
            "members": {
                "body": {
                    "target": "com.example.userservice#GetCountriesResponseContent",
                    "traits": {
                        "smithy.api#httpPayload": {}
                    }
                }
            }
        },
        "com.example.userservice#GetCountriesResponseContent": {
            "type": "structure",
            "members": {
                "countries": {
                    "target": "com.example.userservice#CountryList",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.example.userservice#GetLocation": {
            "type": "operation",
            "input": {
                "target": "com.example.userservice#GetLocationRequest"
            },
            "output": {
                "target": "com.example.userservice#GetLocationResponse"
            },
            "errors": [
                {
                    "target": "com.example.userservice#NotFoundError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Retrieves a location by its unique identifier. Returns complete location information including resolved geographic hierarchy with country, region, city, and neighborhood details.",
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/locations/{locationId}"
                }
            }
        },
        "com.example.userservice#GetLocationRequest": {
            "type": "structure",
            "members": {
                "locationId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.example.userservice#GetLocationResponse": {
            "type": "structure",
            "members": {
                "body": {
                    "target": "com.example.userservice#GetLocationResponseContent",
                    "traits": {
                        "smithy.api#httpPayload": {}
                    }
                }
            }
        },
        "com.example.userservice#GetLocationResponseContent": {
            "type": "structure",
            "members": {
                "locationId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "userId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "country": {
                    "target": "com.example.userservice#CountryInfo",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "region": {
                    "target": "com.example.userservice#RegionInfo",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "city": {
                    "target": "com.example.userservice#CityInfo",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "neighborhood": {
                    "target": "com.example.userservice#NeighborhoodInfo"
                },
                "address": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "postalCode": {
                    "target": "smithy.api#String"
                },
                "latitude": {
                    "target": "smithy.api#Double"
                },
                "longitude": {
                    "target": "smithy.api#Double"
                },
                "locationType": {
                    "target": "com.example.userservice#LocationType",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "createdAt": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "updatedAt": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.example.userservice#GetNeighborhoodsByCity": {
            "type": "operation",
            "input": {
                "target": "com.example.userservice#GetNeighborhoodsByCityRequest"
            },
            "output": {
                "target": "com.example.userservice#GetNeighborhoodsByCityResponse"
            },
            "errors": [
                {
                    "target": "com.example.userservice#NotFoundError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Retrieves neighborhoods within a specific city. Returns all neighborhoods that belong to the specified city. Used for detailed address specification in location forms.",
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/cities/{cityId}/neighborhoods"
                }
            }
        },
        "com.example.userservice#GetNeighborhoodsByCityRequest": {
            "type": "structure",
            "members": {
                "cityId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.example.userservice#GetNeighborhoodsByCityResponse": {
            "type": "structure",
            "members": {
                "body": {
                    "target": "com.example.userservice#GetNeighborhoodsByCityResponseContent",
                    "traits": {
                        "smithy.api#httpPayload": {}
                    }
                }
            }
        },
        "com.example.userservice#GetNeighborhoodsByCityResponseContent": {
            "type": "structure",
            "members": {
                "neighborhoods": {
                    "target": "com.example.userservice#NeighborhoodList",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.example.userservice#GetRegionsByCountry": {
            "type": "operation",
            "input": {
                "target": "com.example.userservice#GetRegionsByCountryRequest"
            },
            "output": {
                "target": "com.example.userservice#GetRegionsByCountryResponse"
            },
            "errors": [
                {
                    "target": "com.example.userservice#NotFoundError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Retrieves regions within a specific country. Returns all regions (states, provinces) that belong to the specified country. Used for cascading geographic selection in location forms.",
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/countries/{countryId}/regions"
                }
            }
        },
        "com.example.userservice#GetRegionsByCountryRequest": {
            "type": "structure",
            "members": {
                "countryId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.example.userservice#GetRegionsByCountryResponse": {
            "type": "structure",
            "members": {
                "body": {
                    "target": "com.example.userservice#GetRegionsByCountryResponseContent",
                    "traits": {
                        "smithy.api#httpPayload": {}
                    }
                }
            }
        },
        "com.example.userservice#GetRegionsByCountryResponseContent": {
            "type": "structure",
            "members": {
                "regions": {
                    "target": "com.example.userservice#RegionList",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.example.userservice#GetUser": {
            "type": "operation",
            "input": {
                "target": "com.example.userservice#GetUserRequest"
            },
            "output": {
                "target": "com.example.userservice#UserResponse"
            },
            "errors": [
                {
                    "target": "com.example.userservice#NotFoundError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Retrieves a user by their unique identifier. Returns the complete user profile information including status and timestamps. The user ID must be a valid UUID format.",
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/users/{userId}"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.example.userservice#GetUserRequest": {
            "type": "structure",
            "members": {
                "userId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.example.userservice#ListLocations": {
            "type": "operation",
            "input": {
                "target": "com.example.userservice#ListLocationsRequest"
            },
            "output": {
                "target": "com.example.userservice#ListLocationsResponse"
            },
            "traits": {
                "smithy.api#documentation": "Lists locations with filtering and pagination. Returns a paginated list of locations with optional filtering by user ID and location type. Supports pagination for efficient data retrieval.",
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/locations"
                }
            }
        },
        "com.example.userservice#ListLocationsRequest": {
            "type": "structure",
            "members": {
                "page": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#httpQuery": "page"
                    }
                },
                "size": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#httpQuery": "size"
                    }
                },
                "userId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpQuery": "userId"
                    }
                },
                "locationType": {
                    "target": "com.example.userservice#LocationType",
                    "traits": {
                        "smithy.api#httpQuery": "locationType"
                    }
                }
            }
        },
        "com.example.userservice#ListLocationsResponse": {
            "type": "structure",
            "members": {
                "body": {
                    "target": "com.example.userservice#ListLocationsResponseContent",
                    "traits": {
                        "smithy.api#httpPayload": {}
                    }
                }
            }
        },
        "com.example.userservice#ListLocationsResponseContent": {
            "type": "structure",
            "members": {
                "locations": {
                    "target": "com.example.userservice#LocationList",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "page": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "size": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "total": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "totalPages": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.example.userservice#ListUsers": {
            "type": "operation",
            "input": {
                "target": "com.example.userservice#ListUsersRequest"
            },
            "output": {
                "target": "com.example.userservice#ListUsersResponse"
            },
            "traits": {
                "smithy.api#documentation": "Lists users with pagination and search capabilities. Returns a paginated list of users with optional search functionality. Search can be performed across username, email, first name, and last name fields. Supports pagination with configurable page size (max 100 users per page).",
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/users"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.example.userservice#ListUsersRequest": {
            "type": "structure",
            "members": {
                "page": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#default": 1,
                        "smithy.api#documentation": "Page number for pagination. Starts from 1. Default is 1.",
                        "smithy.api#httpQuery": "page",
                        "smithy.api#range": {
                            "min": 1
                        }
                    }
                },
                "size": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#default": 20,
                        "smithy.api#documentation": "Number of users per page. Maximum 100, default is 20.",
                        "smithy.api#httpQuery": "size",
                        "smithy.api#range": {
                            "min": 1,
                            "max": 100
                        }
                    }
                },
                "search": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Search term to filter users by username, email, first name, or last name.",
                        "smithy.api#httpQuery": "search",
                        "smithy.api#length": {
                            "max": 100
                        }
                    }
                }
            }
        },
        "com.example.userservice#ListUsersResponse": {
            "type": "structure",
            "members": {
                "users": {
                    "target": "com.example.userservice#UserList",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "page": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "size": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "total": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "totalPages": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.example.userservice#LocationList": {
            "type": "list",
            "member": {
                "target": "com.example.userservice#LocationResponse"
            }
        },
        "com.example.userservice#LocationResponse": {
            "type": "structure",
            "members": {
                "locationId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "userId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "country": {
                    "target": "com.example.userservice#CountryInfo",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "region": {
                    "target": "com.example.userservice#RegionInfo",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "city": {
                    "target": "com.example.userservice#CityInfo",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "neighborhood": {
                    "target": "com.example.userservice#NeighborhoodInfo"
                },
                "address": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "postalCode": {
                    "target": "smithy.api#String"
                },
                "latitude": {
                    "target": "smithy.api#Double"
                },
                "longitude": {
                    "target": "smithy.api#Double"
                },
                "locationType": {
                    "target": "com.example.userservice#LocationType",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.example.userservice#LocationService": {
            "type": "service",
            "version": "2023-01-01",
            "operations": [
                {
                    "target": "com.example.userservice#CreateLocation"
                },
                {
                    "target": "com.example.userservice#DeleteLocation"
                },
                {
                    "target": "com.example.userservice#GetCitiesByRegion"
                },
                {
                    "target": "com.example.userservice#GetCountries"
                },
                {
                    "target": "com.example.userservice#GetLocation"
                },
                {
                    "target": "com.example.userservice#GetNeighborhoodsByCity"
                },
                {
                    "target": "com.example.userservice#GetRegionsByCountry"
                },
                {
                    "target": "com.example.userservice#ListLocations"
                },
                {
                    "target": "com.example.userservice#UpdateLocation"
                }
            ],
            "traits": {
                "aws.protocols#restJson1": {},
                "smithy.api#cors": {
                    "origin": "*"
                },
                "smithy.api#documentation": "A comprehensive service for managing user locations and geographic data with full CRUD operations. This service provides user location management (home, work, billing, shipping addresses), geographic data hierarchy (countries, regions, cities, neighborhoods), location type categorization and validation, geospatial coordinates support (latitude/longitude), and postal code and address validation.",
                "smithy.api#title": "Location Service API"
            }
        },
        "com.example.userservice#LocationType": {
            "type": "enum",
            "members": {
                "HOME": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "HOME"
                    }
                },
                "WORK": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "WORK"
                    }
                },
                "BILLING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "BILLING"
                    }
                },
                "SHIPPING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SHIPPING"
                    }
                },
                "OTHER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "OTHER"
                    }
                }
            }
        },
        "com.example.userservice#NeighborhoodInfo": {
            "type": "structure",
            "members": {
                "neighborhoodId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "cityId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "createdAt": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "updatedAt": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.example.userservice#NeighborhoodList": {
            "type": "list",
            "member": {
                "target": "com.example.userservice#NeighborhoodResponse"
            }
        },
        "com.example.userservice#NeighborhoodResponse": {
            "type": "structure",
            "members": {
                "neighborhoodId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "cityId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "createdAt": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "updatedAt": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.example.userservice#NotFoundError": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#error": "client",
                "smithy.api#httpError": 404
            }
        },
        "com.example.userservice#NotFoundErrorResponseContent": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.example.userservice#RegionInfo": {
            "type": "structure",
            "members": {
                "regionId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "code": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "countryId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "createdAt": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "updatedAt": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.example.userservice#RegionList": {
            "type": "list",
            "member": {
                "target": "com.example.userservice#RegionResponse"
            }
        },
        "com.example.userservice#RegionResponse": {
            "type": "structure",
            "members": {
                "regionId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "code": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "countryId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "createdAt": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "updatedAt": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.example.userservice#UpdateLocation": {
            "type": "operation",
            "input": {
                "target": "com.example.userservice#UpdateLocationRequest"
            },
            "output": {
                "target": "com.example.userservice#UpdateLocationResponse"
            },
            "errors": [
                {
                    "target": "com.example.userservice#NotFoundError"
                },
                {
                    "target": "com.example.userservice#ValidationError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Updates an existing location's information. Allows partial updates to location fields including address, geographic references, coordinates, and location type. All fields are optional.",
                "smithy.api#http": {
                    "method": "PUT",
                    "uri": "/locations/{locationId}"
                }
            }
        },
        "com.example.userservice#UpdateLocationRequest": {
            "type": "structure",
            "members": {
                "locationId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "body": {
[...]
